<div class="card">
    <div class="card-body">
        <h5 class="titulo">LISTAR TARJETA</h5>
        <table class="table">
            <tbody>
                <tr>
                    <td>Juan Manuel</td>
                    <td>132456798</td>
                    <td>47/15</td>
                    <td>
                        <i class="far fa-regular fa-pen-to-square text-info"></i>
                        <i class="far fa-solid fa-trash text-danger"></i>
                    </td>
                </tr>
                <tr>
                    <td>Juan Manuel</td>
                    <td>132456798</td>
                    <td>47/15</td>
                    <td>
                        <i class="far fa-regular fa-pen-to-square  text-info"></i>
                        <i class="far fa-solid fa-trash text-danger"></i>
                    </td>
                </tr>
                <tr>
                    <td>Juan Manuel</td>
                    <td>132456798</td>
                    <td>47/15</td>
                    <td>
                        <i class="far fa-regular fa-pen-to-square text-info"></i>
                        <i class="far fa-solid fa-trash text-danger"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>